*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}

body{
    background: #f4f7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    width: 500px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px;

}
.progress{
    text-align: center;
    margin-bottom: 20px;
    color: gray;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: #1e293b;
}

form{
    display: flex;
    flex-direction: column;
}

input,select,textarea{
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

textarea{
    height: 120px;
}


.btn{
    background: #2563eb;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 12px;
    border-radius: 6px;
    border: none;
    margin: 12px;
    padding: 10px;
    cursor: pointer;
    
}

.btn:hover{
    background-color: #1d4ed8;
}